<div class="row-fluid quick-actions">
	<div class="span2">
		<a href="#/courses/list" class="quick-action">
		<span class="icon book"></span>
			My Courses
		</a>
	</div>
	<div class="span2">
		<a href="#/courses/add" class="quick-action">
			<span class="icon file"></span>
			Add
		</a>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				My Courses
			</div>
			<div class="box-content nopadding">

				<table class="table table-bordered table-striped items-table">
					<tbody>
						<tr>
							<td class="center checkbox-cell"><input class="check_all" type="checkbox" checkbox-model-all="courses" disable-actions="actions.disable"/></td>
							<td colspan="2">
								<div class="table-actions">
									<strong>Actions:</strong>
									<a href="" ng-class="{disabled: actions.disable}" ng-click="remove()">
										<i class="icon-trash"></i> remove
									</a>
								</div>
							</td>
						</tr>

						<tr ng-repeat="course in courses">
							<td class="center checkbox-cell">
								<input type="checkbox" checkbox-model="course.selected"/>
							</td>
							<td>
								<a>{{course.code}}</a>
							</td>
							<td>
								<span truncate="{{course.description}}" truncate-length="100"></span>
							</td>
						</tr>

						<tr ng-show="courses != null && courses.length < 1">
							<td colspan="3">
								<p class="alert">You have not joined any courses! <a href="#/courses/add">Click here</a> to add some.</p>
							</td>
						</tr>

						<tr ng-show="courses == null">
							<td colspan="3">
								<p class="alert">Loading...</p>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>


