<div class="row-fluid quick-actions">
	<div class="span2">
		<a href="#/courses/list" class="quick-action">
		<span class="icon home"></span>
			Home
		</a>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<span>Questions for {{course.code}}</span>
			</div>
			<div class="box-content nopadding">

				<table class="table table-bordered table-striped items-table">
					<tbody>
						<tr ng-repeat="question in questions | filter:serachText">
							<td>
								<a ng-href="#/questions/{{course.id}}/{{question.id}}" class="title">{{question.title}}</a>
								<p class="tags">
									<i class="icon-tags"></i>
									<span class="label label-info" ng-repeat="tag in question.tags">
										{{tag}}
									</span>
								</p>
							</td>
						</tr>
						
						<tr ng-show="questions != null && questions.length < 1">
							<td colspan="2">
								<p class="alert">There are no questions in this course yet!</p>
							</td>
						</tr>
						
						<tr ng-show="questions == null">
							<td colspan="2">
								<p class="alert">Loading...</p>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>